doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title=headTitle
        link(href='/style.css' rel='stylesheet' )
    body
        block mostrarProductos
        block formulario